<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
     $(document).ready(function () {
         $(".listeSecondaire").hide();
         $(".listePrincipale").click(function() {
            $(".listeSecondaire").hide(500);
            $(this).find(".listeSecondaire").show(1000);
         });
     });
</script>
<h2>Voici tous mes usagers</h2>
<ol>
    <% for(var unUsager of usagers) { %>
        <li class="listePrincipale">Login: 
            <%= unUsager.email %>
            <ul class="listeSecondaire">
                <li>Nom: 
                    <%= unUsager.nom %>
                </li>
                <li>pwd: 
                    <%= unUsager.password %>
                </li>
                <li>r&ocirc;les: 
                    <% for(var unRole of unUsager.roles) { %>
                        <%= unRole %>
                    <% } %>
                    
                </li>
                <li>r&ocirc;les: 
                    <%= unUsager.roles.map(val => (val)); %>                    
                </li>
            </ul>
        </li>
    <% } %>
</ol>